<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <a class="navbar-brand" href="#">NG Project Tracking Tool</a>
    <div class="navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="">Dashboard</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/projects">Progetti</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" *fsIsAuthed="false" routerLink="/signin">Login</a>
            </li>
            <li class="nav-item" [routerLinkActive]="'active'">
                <a class="nav-link" *fsIsAuthed="true" routerLink="/signout">Logout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" *fsHasRole="'admin'" href="#">Area Admin</a>
            </li>
        </ul>
    </div>
</nav>