<div class="card-columns" *ngIf="projects.length else noProjects">
    <!-- <ng-template [ngIf]="projects" [ngIfElse]="noProjects"> -->
    <ng-container *ngFor="let project of projects">
        <!-- <ng-container *ngTemplateOutlet="!tplSingleProject ? simpleProject : tplSingleProject;context:{project: project}"></ng-container> -->
        <ng-container 
            [ngTemplateOutlet]="tplSingleProject ? tplSingleProject : simpleProject"
            [ngTemplateOutletContext]="{project: project}">
        </ng-container>
    </ng-container>
</div>

<ng-template #noProjects>
    <p>Nessun progetto presente</p>
</ng-template>

<ng-template #simpleProject let-project="project">
    <p>{{ project.name }}</p>
</ng-template>

