<div class="card-columns">
    <div *ngFor="let project of projects">
        <div class="card" [ngClass]="{'border-info': project.done, 'border-warning': !project.done }">
            <div class="card-body">
                <h5 class="card-title"><span class="badge badge-light float-right">{{ project.code }}</span>
                    {{ project.name }}</h5>
                <button class="btn btn-primary btn-sm m-1" (click)="selectProject(project)">Anteprima Progetto</button>
                <button class="btn btn-primary btn-sm m-1" [routerLink]="['./', project.id]">Vai al Progetto</button>
            </div>
        </div>
    </div>
</div>